body {
  font-family: "Cormorant Garamond","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #16cec5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.section {
  padding: 100px 0;
}

.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .1em;
  color: #6055bd;
}

.lead {
  margin-bottom: 30px;
}

/*--------------------------------
 header
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  text-align: center;
  background-image: url("/img/photo-1593642634315-48f5414c3ad9.png");
  background-size: cover;
  background-position: center;
}

.header-inner {
  padding: 0 40px;
}

.header-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 72px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #ffffff;
}
.header-subtitle {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  line-height: 1;
  letter-spacing: .08em;
  color: #ffffff;
}

/*--------------------------------
 下層ページのheader
---------------------------------*/
.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 10px;
  text-align: center;
}

.sub-header-inner {
  padding: 0 40px;
}

.sub-header-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 5px;
  color: #6055bd;
}
.sub-header-subtitle {
  font-family: "Amatic SC", cursive;
  font-size: 16px;
  line-height: 1;
  letter-spacing: .08em;
  color: #333;
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.gnav-inner {
  padding: 15px 40px;
}

.gnav-list {
  display: flex;
  justify-content: center;
}

.gnav-item {
  margin: 0 20px;
}

.gnav-item a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}

.gnav-item a:hover {
  opacity: .8;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 32%;
  margin-bottom: 50px;
}

.skill-img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 3px;
}

.skill-star{
  color:#f3d31e;
}
/*--------------------------------
 About
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}
.profile-img img {
  border-radius: 50%;
}
.profile-body {
  flex: 1;
}
.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}
/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #dce3fa;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #333;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #c4d4ef;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-img {
  margin-bottom: 20px;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-info-title {
  font-size: 15px;
}

.article-body img {
  margin-bottom: 30px;
}

.article-body p {
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .inner {
    padding: 0 20px;
  }

  /*  header */
  .header {
    height: 60vh;
  }

  .header-inner {
    padding: 0 20px;
  }

  .header-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .header-subtitle {
    font-size: 18px;
  }

  /*  下層ページのheader */
  .sub-header-inner {
    padding: 0 40px;
  }

  .sub-header-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
  }
  .sub-header-subtitle {
    font-size: 14px;
  }

  /* グローバルナビ */
  .gnav .inner {
    padding: 15px;
  }

  .gnav-logo {
    font-size: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 12px;
  }

  .gnav-item a:after {
    display: none;
  }

  /* Works */
  .works-name {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  /* About */
  .profile {
    display: block;
  }
  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 30px 0;
  }
}
